.elementor-392 .elementor-element.elementor-element-7ead77c {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 50px 50px;
  --row-gap: 50px;
  --column-gap: 50px;
  --padding-top: 80px;
  --padding-bottom: 55px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-392 .elementor-element.elementor-element-2fa76cf {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 0px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 0px;
  --border-left-width: 0px;
  border-color: #ebebeb;
  --border-color: #ebebeb;
}
.elementor-392
  .elementor-element.elementor-element-48c223c2
  > .elementor-widget-container {
  padding: 0px 0px 25px 0px;
}
.elementor-392 .elementor-element.elementor-element-48c223c2 .glozin-heading {
  font-size: 16px;
}
.elementor-392 .elementor-element.elementor-element-59f94afe {
  padding: 0px 0px 20px 0px;
  font-weight: 400;
  color: #444444;
}
.elementor-392 .elementor-element.elementor-element-563fd34b .glozin-button {
  font-weight: 400;
}
.elementor-392 .elementor-element.elementor-element-3d29c742 .glozin-button {
  font-weight: 400;
}
.elementor-392
  .elementor-element.elementor-element-035f446
  > .elementor-widget-container {
  padding: 25px 0px 0px 0px;
}
.elementor-392
  .elementor-element.elementor-element-035f446
  .glozin-social-icons__wrapper {
  justify-content: flex-start;
  gap: 10px;
}
.elementor-392
  .elementor-element.elementor-element-035f446
  .glozin-social-icons__item {
  --gz-button-color: #444444;
  --gz-button-border-color: #444444;
  --gz-button-font-size: 12px;
}
.elementor-392 .elementor-element.elementor-element-5b49b6e4 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
  border-style: solid;
  --border-style: solid;
  border-width: 0px 0px 0px 0px;
  --border-top-width: 0px;
  --border-right-width: 0px;
  --border-bottom-width: 0px;
  --border-left-width: 0px;
  border-color: #ebebeb;
  --border-color: #ebebeb;
}
.elementor-392 .elementor-element.elementor-element-1ead8f5f {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
}
.elementor-392 .elementor-element.elementor-element-d71a782 {
  --display: flex;
}
.elementor-392 .elementor-element.elementor-element-5830349 {
  --divider-border-style: solid;
  --divider-color: #ebebeb;
  --divider-border-width: 1px;
}
.elementor-392
  .elementor-element.elementor-element-5830349
  .elementor-divider-separator {
  width: 100%;
}
.elementor-392 .elementor-element.elementor-element-5830349 .elementor-divider {
  padding-block-start: 15px;
  padding-block-end: 15px;
}
.elementor-392 .elementor-element.elementor-element-21a97ac0 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --padding-top: 17px;
  --padding-bottom: 32px;
  --padding-left: 0px;
  --padding-right: 0px;
}
.elementor-392 .elementor-element.elementor-element-68227182 {
  --display: flex;
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --gap: 10px 32px;
  --row-gap: 10px;
  --column-gap: 32px;
}
.elementor-392 .elementor-element.elementor-element-17d76495 {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
}
.elementor-392 .elementor-element.elementor-element-7b719a80 img {
  border-radius: 0px 0px 0px 0px;
}
@media (max-width: 1024px) {
  .elementor-392 .elementor-element.elementor-element-7ead77c {
    --gap: 35px 0px;
    --row-gap: 35px;
    --column-gap: 0px;
    --flex-wrap: wrap;
  }
  .elementor-392 .elementor-element.elementor-element-2fa76cf {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 15px;
  }
  .elementor-392 .elementor-element.elementor-element-5b49b6e4 {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 0px;
  }
  .elementor-392 .elementor-element.elementor-element-1ead8f5f {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 15px;
    --padding-right: 0px;
  }
  .elementor-392 .elementor-element.elementor-element-21a97ac0 {
    --flex-direction: column;
    --container-widget-width: calc(
      (1 - var(--container-widget-flex-grow)) * 100%
    );
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --align-items: center;
    --gap: 17px 17px;
    --row-gap: 17px;
    --column-gap: 17px;
  }
  .elementor-392 .elementor-element.elementor-element-68227182 {
    --justify-content: center;
    --flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .elementor-392 .elementor-element.elementor-element-7ead77c {
    --gap: 22px 0px;
    --row-gap: 22px;
    --column-gap: 0px;
    --padding-top: 65px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-392 .elementor-element.elementor-element-2fa76cf {
    border-width: 0px 0px 1px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    --padding-top: 0px;
    --padding-bottom: 24px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-392
    .elementor-element.elementor-element-48c223c2
    > .elementor-widget-container {
    padding: 0px 0px 18px 0px;
  }
  .elementor-392
    .elementor-element.elementor-element-035f446
    > .elementor-widget-container {
    padding: 23px 0px 0px 0px;
  }
  .elementor-392 .elementor-element.elementor-element-5b49b6e4 {
    border-width: 0px 0px 1px 0px;
    --border-top-width: 0px;
    --border-right-width: 0px;
    --border-bottom-width: 1px;
    --border-left-width: 0px;
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-392 .elementor-element.elementor-element-1ead8f5f {
    --padding-top: 0px;
    --padding-bottom: 0px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
  .elementor-392 .elementor-element.elementor-element-d71a782 {
    --margin-top: -15px;
    --margin-bottom: 0px;
    --margin-left: 0px;
    --margin-right: 0px;
  }
  .elementor-392 .elementor-element.elementor-element-21a97ac0 {
    --gap: 17px 17px;
    --row-gap: 17px;
    --column-gap: 17px;
    --padding-top: 15px;
    --padding-bottom: 30px;
    --padding-left: 0px;
    --padding-right: 0px;
  }
}
@media (min-width: 768px) {
  .elementor-392 .elementor-element.elementor-element-7ead77c {
    --content-width: 1200px;
  }
  .elementor-392 .elementor-element.elementor-element-2fa76cf {
    --width: 40%;
  }
  .elementor-392 .elementor-element.elementor-element-5b49b6e4 {
    --width: 17%;
  }
  .elementor-392 .elementor-element.elementor-element-1ead8f5f {
    --width: 41%;
  }
  .elementor-392 .elementor-element.elementor-element-d71a782 {
    --content-width: 1200px;
  }
  .elementor-392 .elementor-element.elementor-element-21a97ac0 {
    --content-width: 1200px;
  }
  .elementor-392 .elementor-element.elementor-element-68227182 {
    --width: 70%;
  }
  .elementor-392 .elementor-element.elementor-element-17d76495 {
    --width: 25%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-392 .elementor-element.elementor-element-2fa76cf {
    --width: 50%;
  }
  .elementor-392 .elementor-element.elementor-element-5b49b6e4 {
    --width: 50%;
  }
  .elementor-392 .elementor-element.elementor-element-1ead8f5f {
    --width: 50%;
  }
  .elementor-392 .elementor-element.elementor-element-68227182 {
    --width: 100%;
  }
  .elementor-392 .elementor-element.elementor-element-17d76495 {
    --width: 45%;
  }
}
